@use "../../../styles/variables.scss" as *;

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.input {
  height: 50px;
  margin: 0;
  padding: 0 12px;
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  transition: all 0.3s linear;

  &:hover {
    border-color: #fdfca4;
  }

  &:focus {
    border-color: #fdfca4;
    color: #ffffff;
    outline: none;
    box-shadow: 0 0 8px rgba(253, 252, 164, 0.5);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.error {
  border-color: #ff4d4f;
}

.errorMessage {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}
