@use "../../../styles/variables.scss" as *;

.cartTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1166px;
  width: 100%;
  margin: 20px auto;
  @media (max-width: 1199px) {
    max-width: 960px;
    margin: 15px auto;
  }
  @media (max-width: 767px) {
    max-width: 100%;
    margin: 10px auto;
  }
}

.cartTitle {
  --gradient-border-width: 4px;
  position: relative;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-color;
  padding-left: calc(var(--gradient-border-width) + 16px);
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--gradient-border-width);
    min-width: 2px;
    background: $title-gradient;
  }

  @media (max-width: 1199px) {
    font-size: 32px;
    padding-left: calc(var(--gradient-border-width) + 12px);
  }
  @media (max-width: 767px) {
    --gradient-border-width: 3px;
    font-size: 24px;
    padding-left: calc(var(--gradient-border-width) + 10px);
    margin-bottom: 15px;
  }
}

.cartItemCount {
  font-size: 1.2rem;
  color: $grey-text-color;
  font-weight: 500;
  white-space: nowrap;
  padding-left: 10px;
  aria-live: polite;

  @media (max-width: 1199px) {
    font-size: 1rem;
  }
  @media (max-width: 767px) {
    font-size: 0.9rem;
    padding-left: 5px;
  }
}
