@use "sass:color";

.regionButton {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  top: 75px;
  right: 0;
  box-shadow: none;
  padding: 8px;
  border-radius: 10px;
  z-index: 100;
  border: 1px solid rgba(255, 255, 255, 0.2);

  @media (max-width: 768px) {
    padding: 6px 10px;
    font-size: 13px;
    top: 16px;
    right: 15%;
  }
}

.regionText {
  color: #ffffff;
  font-weight: 500;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 480px) {
    max-width: 80px;
  }
}

.arrow {
  transition: transform 0.3s ease;
  flex-shrink: 0;

  .regionButton:hover & {
    transform: translateY(1px);
  }
}
