$primary-color: #fdfca4;
$secondary-color: #d9ad49;

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  animation: fadeIn 400ms ease-in-out forwards;
}

.popupWrapper {
  max-width: 1166px;
  border-radius: 40px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    background: url("/assets/home/promotion/thunder-wrap.jpg") center/cover
      no-repeat;
    filter: grayscale(100%);
    z-index: -1;
  }

  @media (max-width: 767px) {
    max-width: 90%;
    padding: 20px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    max-width: 80%;
    padding: 30px;
  }
}

.popupContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 2px solid #f5ea8f;
  border-radius: 40px;
  padding: 40px;
  animation: scaleIn 400ms ease-in-out forwards 100ms;
  width: 100%;
  backdrop-filter: blur(14px);

  @media (max-width: 767px) {
    padding: 20px;
    gap: 15px;
  }
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -50px;
  right: -50px;
  background: transparent;
  border: 1px solid #d9ad49;
  padding: 16px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  color: #d9ad49;
  transition: filter 0.2s;

  @media (max-width: 767px) {
    top: -20px;
    right: -17px;
  }
}

.discountLabel {
  display: flex;
  gap: 15px;
  align-items: center;
  background: linear-gradient(
    221deg,
    rgba(53, 53, 53, 0.4),
    rgba(34, 34, 34, 0.4)
  );
  border-radius: 8px;
  border: 1px solid #2b2b2b;
  width: fit-content;
  padding: 8px 16px;

  .discountText {
    font-size: 18px;
    background: linear-gradient($secondary-color, $primary-color);
    background-clip: text;
    color: transparent;
  }

  @media (max-width: 767px) {
    gap: 10px;
    padding: 6px 12px;

    .discountText {
      font-size: 14px;
    }
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
  background: linear-gradient($secondary-color, $primary-color);
  background-clip: text;
  color: transparent;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 24px;
  }
}

.text {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.buttons {
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: center;

  .button {
    max-width: 300px;
    text-align: center;
    padding: 20px;
    background: rgba(51, 165, 235, 1);
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;

    @media (max-width: 767px) {
      font-size: 12px;
      flex-direction: column;
    }
  }

  @media (max-width: 767px) {
    font-size: 12px;
    flex-direction: column;
  }
}

.popupimg {
  position: absolute;
  right: -100px;
  bottom: -140px;
  z-index: 3;

  img {
    width: 160px;
    object-fit: contain;

    @media (max-width: 767px) {
      display: none;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      width: 150px;
      right: -40px;
      bottom: -40px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
