@use "../../../styles/variables.scss" as *;

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 500px) {
    align-items: flex-start;
    gap: 5px;
  }
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  @media (max-width: 500px) {
    align-items: flex-start;
    gap: 5px;
  }
}

.checkboxText {
  color: $gray-dark;
  font-size: 14px;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.link {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.error {
  border-color: #ff4d4f;
}

.errorMessage {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}
