@use "../../../styles/variables.scss" as *;

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 500px) {
    align-items: flex-start;
    gap: 5px;
  }
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  user-select: none;

  @media (max-width: 500px) {
    align-items: flex-start;
    gap: 5px;
  }
}

/* скрываем стандартный input */
.checkboxInput {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

/* кастомный квадрат */
.checkboxCustom {
  width: 30px;
  height: 20px;
  border: 2px solid $primary-color;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &::after {
    content: "";
    display: none;
    width: 3px;
    height: 6px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

/* активное состояние */
.checkboxInput:checked + .checkboxCustom {
  background-color: $primary-color;
}

.checkboxInput:checked + .checkboxCustom::after {
  display: block;
}

.checkboxText {
  color: $gray-dark;
  font-size: 14px;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.link {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.error {
  border-color: #ff4d4f;
}

.errorMessage {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}
